body {
    background-color: #ffffff;
}

.container {
    width: 960px;
}

header {
    height: 130px;
    width: 100%;
    position: relative;
}

h1 {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    line-height: 130px;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

/* Changes to the bootstrap navbar */
.navbar-default li {
    width: 174px;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #b3d9ff;
    text-align: center;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    color: black;
}

.navbar-default li:hover {
    background-color: #87CEEB;
}

.navbar-default {
    min-height: inherit;
    background-color: transparent;
    border: none;
    text-align: center;
}

#carousel-main {
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

#container {
    position: relative;
    height: 300px;
    margin-top: 20px
}

footer {
    text-align: center;
}

footer a {
    display: inline;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    color: black;
}

form {
    width: 300px;
    margin: 0 auto;
}

table td {
    padding-bottom: 10px;
}
article {
    margin: 100px;
}

h2 {
    text-align: center;
    padding-bottom: 50px;
}

@media screen and (min-width: 480px) {
    .dropdown {
        
    }
}

@media screen and (max-width: 767px) {
   .navbar-default li {
        width: 100%;
    }
    .navbar-default .navbar-nav {
        float: right;
    }
}