body {
    background-color: #ffffff;
}

.container {
    width: 960px;
}

header {
    height: 130px;
    width: 100%;
    position: relative;
}

h1 {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    line-height: 130px;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    padding: 10px;
    background-color: #b3d9ff;
    text-align: center;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    color: black;
}

nav a:link {
    width: 140px;
    text-decoration: none;
    padding: 5px;
    margin: 0;
}

nav a:hover {
    background-color: #87CEEB;
}

#carousel-main {
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

#container {
    position: relative;
    height: 300px;
    margin-top: 20px
}

footer a {
    display: inline;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    color: black;
}

form {
    width: 300px;
    margin: 0 auto;
}

table td {
    padding-bottom: 10px;
}